<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Pwinty-MerchantId" value="YOUR_MERCHANT_ID"/>
    <add key="Pwinty-REST-API-Key" value="YOUR_REST_API_KEY"/>
    <add key="Pwinty-Base-Url" value="https://testing.pwinty.com" />
    <add key="Pwinty-Dashboard-Url" value="https://testingdashboard.pwinty.com" />
  </appSettings>
</configuration>